.Search {
    width: 600px;
    position: absolute;
    background: #d7d7d7;
    /*border-radius: 25px;*/
    top: 29%;
    left: 35%;
}

.CenterSearch{
    display: flex;
    justify-content: center;
}